# 不要ファイル
.DS_Store

# keys
*.pem
*.key

# YoloToolkit
*.jpg
*.jpeg
*.png
*.vott
*.json
*PascalVOC-export
classes.name
YoloDataset/*.txt
cfg/*.txt
cfg/*.data
cfg/*.cfg
backup/*.weights
yolov4.conv.137
__pycache__/

# testファイル
test.py
